@{
    ViewBag.Title = "Get raw html after page is loaded";
    Layout = "_Layout";
}

<div class="card">
    <div class="card-header">
        Parameters
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="txtUrl">Web page url:</label>
                <input required="" type="url" class="form-control" id="txtUrl" value="https://google.ca" />
            </div>

            <div class="form-group">
                <label for="txtHeight">Browser height:</label>
                <input required="" type="number" class="form-control" id="txtHeight" value="900" style="max-width: 200px" />
            </div>

            <div class="form-group">
                <label for="txtWidth">Browser width:</label>
                <input required="" type="number" class="form-control" id="txtWidth" value="1200" style="max-width: 200px" />
            </div>

            <input type="button" class="btn btn-primary" onclick="callApi()" value="Submit" id="btnSubmit" />
        </form>
    </div>
</div>


<div id="divResult" class="card mt-3 d-none">
    <div class="card-header">
        Result
    </div>

    <div class="card-body">
        <textarea id="resultHtml" style="width: 100%; height: 300px;">Loading...</textarea>
    </div>

</div>

@section scripts
    {
    <script>
        function callApi() {

            $('#btnSubmit').attr('disabled', 'disabled');
            var data = {};

            data.url = $('#txtUrl').val();
            data.width = $('#txtWidth').val();
            data.height = $('#txtHeight').val();

            // Show result div
            $('#divResult').removeClass('d-none');

            // Invoke service
            $.post('/RawHtml',
                data,
                function(res) {
                    console.log(res);
                    $('#btnSubmit').removeAttr('disabled');

                    // Update result
                    $('#resultHtml').text(res);
                });
        }
    </script>
}
