<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>@ViewBag.Title</title>

    <style>
        .container {
            max-width: 90% !important;
        }

        .tab-content {
            border-bottom: 1px solid #dee2e6;
            border-left: 1px solid #dee2e6;
            border-right: 1px solid #dee2e6;
        }
    </style>
    </head>
<body>


<!-- As a heading -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Test Pad</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/TestPad/Screenshot">Take Screenshot</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/TestPad/RawHtml">Get Raw Html</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/TestPad/Scripting">Scripting</a>
            </li>
        </ul>
    </div>
</nav>


<div class="container mt-3">

    <h5 class="mt-4">
        @ViewBag.Title
    </h5>
    
    <div class="mt-5">
        @RenderBody()
    </div>
    

    <div class="row mt-5">
        <div class="col">

        </div>
    </div>
</div>




<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


@RenderSection("scripts", required: false)

<script>
    $(document).ready(function() {
        var url = document.location.href;
        $('.nav-item a').each(function(i, item) {
            if(url.toLocaleLowerCase().indexOf($(item).attr('href').toLocaleLowerCase()) > 0){
                $(item).parent().addClass('active')
            }
        })
    })
</script>
</body>
</html>