@{
    ViewBag.Title = "Take screenshot after page is loaded";
    Layout = "_Layout";
}


<div class="card">
    <div class="card-header">
        Parameters
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="txtUrl">Web page url:</label>
                <input required="" type="url" class="form-control" id="txtUrl" value="https://shahed.me"/>
            </div>

            <div class="form-group">
                <label for="txtHeight">Browser height:</label>
                <input required="" type="number" class="form-control" id="txtHeight" value="900" style="max-width: 200px"/>
            </div>

            <div class="form-group">
                <label for="txtWidth">Browser width:</label>
                <input required="" type="number" class="form-control" id="txtWidth" value="1200" style="max-width: 200px"/>
            </div>

            <input type="button" class="btn btn-primary" onclick="callApi()" value="Submit" />
        </form>
    </div>
</div>


<div class="card mt-3 d-none">
    <div class="card-header">
        Result
    </div>
    
    <div class="card-body">
        <img class="img img-fluid" src="http://cdn.shahed.me/webstorm-1-1.png"></img>
    </div>
    
</div>

@section scripts
{
    <script>
        function callApi() {

            var data = {};
            
            data.url = $('#txtUrl').val();
            data.width = $('#txtWidth').val();
            data.height = $('#txtHeight').val();

            $.post('/Screenshot', data,
                function(res) {
                    console.log(res)
                })
        }
    </script>
}
